@import "tailwindcss";
@import "tw-animate-css";

@import "./tailwind/index.css";
@import "./constants/design-tokens/colors.css";
@import "./constants/design-tokens/animations.css";
@import "./constants/design-tokens/typography.css";
@import "./constants/design-tokens/shadows.css";

@import "./styles/_variables.scss";
@import "./styles/_keyframe-animations.scss";

html {
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
